#back_img{
    width: 100%;
    height: 1000px;
    background-image: url(../image/index_banner/index_banner2.jpeg);
    background-repeat: no-repeat;
}

body{
    margin: 0;
}

#contents_wrapper{
    width: 800px;
    height: 500px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

#contents_text{
    margin-right: 1rem;
}

#contents_text > img{
    margin-top: 10rem;
}

#contents_button{
    margin: 3rem auto;
    width: 150px;
    height: 140px;
}

#button_text{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 3px solid  rgba(255, 255, 255, 0.4);
    padding: 3.6rem 2.2rem 4rem 2.2rem;
    color: rgba(255, 255, 255, 0.7);
}

#button_div{
    margin-top: 7rem;
}


#button_div > a{
    animation-name: a_size;
    animation-duration: 1.5s;
}

#button_div > a:hover{
    animation-name: change_a;
    animation-duration: 1.5s;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px white;
}

#contents_img{
    animation-name: banner_animation;
    animation-duration: 4s;
}

@keyframes change_a{
    from{
        background-color: rgba(255, 255, 255, 0);
        color: white;
        box-shadow: 0px 0px 0px white;
    }
    to{
        background-color: rgba(255, 255, 255, 1);
        color: black;
        box-shadow: 0px 0px 5px white;
    }
}

@keyframes banner_animation{
    from{  opacity: 0;}
    to{ opacity: 1;}
}

@keyframes a_size{
    from{
        padding: 0;
    }
    50%{
        padding: 0 2.2rem 0 2.2rem;
    }
    to{
        padding: 3.6rem 2.2rem 4rem 2.2rem;
    }
}