#canvas{
    margin: 5rem auto;
    cursor:crosshair;
    border:solid 2px #000;
    -webkit-box-shadow:1px 1px 20px #ccc;
    -moz-box-shadow:1px 1px 20px #ccc;
    box-shadow:1px 1px 20px #ccc;
}

#custom_banner{
    margin-bottom: 3rem;
	animation-name: down;
	animation-duration: 2s;
}

#custom_wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 500px;
}

 #custom_body{
    margin: 0 auto;
    width: 1200px;
    height: 900px;
}

#myCanvas{
    margin-left: 13rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 5px grey;
    background-color: #eee;

}

#draw{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    margin-left: 13rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: grey;
    letter-spacing: 7px;
}

#sub_draw{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    margin-left: 13.5rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
}
#input_box{
    margin: 0 auto;
    width: 780px;
    margin-bottom: 2rem;

}

#canvas_button:hover{
    border: 1px solid black;
}

@keyframes down{
	from{margin-top: -5rem;
		opacity: 0;}
	to{margin-top: 0;
		opacity: 1;}
}